<!-- fragments/category-tree-node.html -->
<div th:fragment="category-tree-node(node)">
  <a th:text="${node.getName()}" th:href="@{/{username}/categories(username=${user.username}, categoryId=${node.getId()})}"></a>
  <ul class="list-group list-group-flush" th:if="${not node.getChildren().isEmpty()}">
    <li class="list-group-item" th:each="child : ${node.getChildren()}">
      <div th:replace="~{fragments/category-tree-node :: category-tree-node(node=${child})}"></div>
    </li>
  </ul>
</div>
