<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>管理页面</title>
  <link rel="stylesheet" th:href="@{/Css/bootstrap.min.css}" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/Css/back-to-top.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/Css/navbar.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/Css/globalBody.css}" type="text/css">

  <style>
    .alert {
      display: none; /* 默认隐藏 */
    }

    .wrapper {
      display: flex;
      width: 100%;
    }

    .sidebar {
      width: 200px;
      background-color: #343a40;
      color: #fff;
      min-height: 100vh;
      position: fixed;
      padding-top: 70px;
      top: 0;
      left: 0;
      overflow-y: auto;
    }

    .sidebar a {
      color: #fff;
      text-decoration: none;
      padding: 15px;
      display: block;
      transition: background-color 0.2s;
    }

    .sidebar a:hover {
      background-color: #495057;
    }

    .content {
      flex: 1;
      padding: 20px;
      margin-left: 200px; /* 确保内容不被侧边栏遮挡 */
    }

    .active {
      background-color: #495057;
    }

  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" th:href="@{/{username}/home(username=${user.username})}">
    <i class="bi bi-house-door-fill"></i> 首页
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/{username}/statistics(username=${user.username})}">文章统计</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/{username}/categories(username=${user.username})}">文章分类</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/{username}/background(username=${user.username})}">后台管理</a>
      </li>
    </ul>
  </div>
</nav>
<div class="wrapper">
  <nav class="sidebar">
    <i class="bi bi-gear" style="font-size: 100px; margin-bottom: 20px; margin-left: 50px;"></i>
    <a href="#manage-articles" class="active" th:attr="onclick='loadContent(\'manage-articles\')'">文章管理</a>
    <a href="#manage-comments" th:attr="onclick='loadContent(\'manage-comments\')'">评论管理</a>
    <a href="#manage-favorites" th:attr="onclick='loadContent(\'manage-favorites\')'">收藏夹管理</a>
    <a href="#change-information" th:attr="onclick='loadContent(\'change-information\')'">修改信息</a>
    <a href="#change-password" th:attr="onclick='loadContent(\'change-password\')'">重置密码</a>
    <a href="#logout" th:href="@{/logout}">注销</a>
  </nav>
  <div class="content">
    <div id="content-container">
      <!-- 动态加载内容 -->
    </div>
  </div>
</div>

<script th:src="@{/js/jquery-3.3.1.slim.min.js}" type="text/javascript"></script>
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

<script>
  function loadContent(page) {
    const contentContainer = document.getElementById('content-container');
    contentContainer.innerHTML = ''; // 清空内容容器
    $('.sidebar a').removeClass('active'); // 移除所有链接的活动类
    $(`.sidebar a[href="#${page}"]`).addClass('active'); // 为当前链接添加活动类

    // 动态加载页面内容
    fetch(`background/${page}`)
        .then(response => response.text())
        .then(html => {
          contentContainer.innerHTML = html;
          $('#confirmDeleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);        // 触发模态框的按钮
            var articleId = button.data('article-id');  // 从按钮中获取文章 id
            var articleTitle = button.data('article-title'); // 从按钮中获取文章标题
            var modal = $(this); // 找到模态框
            modal.find('.article-title').text("确定要删除《" + articleTitle + "》这篇文章吗？");  // 在模态框中显示文章标题
            var confirmDeleteButton = $(this).find('#confirmDeleteButton');   // 找到模态框中的确认删除按钮
            confirmDeleteButton.data('article-id', articleId);
          });
          $('#confirmDeleteButton').on('click', function () {
            var articleId = $(this).data('article-id');
            fetch(`delete-article/${articleId}`, {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json'
              }
            }).then(response => {
              if (response.ok) {
                window.location.reload();
              } else {
                alert('删除失败');
              }
            });
          });

          const createdAtElems = document.querySelectorAll('[id^="created-at-"]');
          createdAtElems.forEach(elem => {
            let gmtDate = new Date(elem.textContent);
            elem.textContent = gmtDate.toLocaleString();
          });

          $('#confirmDeleteCommentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);        // 触发模态框的按钮
            var commentId = button.data('comment-id');
            var commentContent = button.data('comment-content');
            var modal = $(this);
            modal.find('.comment-content').text("确定要删除评论：\"" + commentContent + "\" 吗？");
            var confirmDeleteCommentButton = $(this).find('#confirmDeleteCommentButton');   // 找到模态框中的确认删除按钮
            confirmDeleteCommentButton.data('comment-id', commentId);
          });
          $('#confirmDeleteCommentButton').on('click', function () {
            var commentId = $(this).data('comment-id');
            fetch(`delete-comment/${commentId}`, {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json'
              }
            }).then(response => {
              if (response.ok) {
                window.location.reload();
              } else {
                alert('删除失败');
              }
            });
          });

          $('#confirmDeleteFavoriteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var favoriteId = button.data('favorite-id');
            var favoriteName = button.data('favorite-name');
            var modal = $(this);
            modal.find('.favorite-content').text("确定要删除收藏夹：\"" + favoriteName + "\" 吗？");
            var confirmDeleteFavoriteButton = $(this).find('#confirmDeleteFavoriteButton');
            confirmDeleteFavoriteButton.data('favorite-id', favoriteId);
          });
          $('#confirmDeleteFavoriteButton').on('click', function () {
            var favoriteId = $(this).data('favorite-id');
            fetch(`delete-favorite/${favoriteId}`, {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json'
              }
            }).then(response => {
              if (response.ok) {
                window.location.reload();
              } else {
                alert('删除失败');
              }
            });
          });

          $('#editFavoriteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var favoriteId = button.data('favorite-id');
            var favoriteName = button.data('favorite-name');
            document.getElementById('editFavoriteName').value = favoriteName; // 显示当前收藏夹名称
            var editFavoriteButton = $(this).find('#editFavoriteButton');
            editFavoriteButton.data('favorite-id', favoriteId);
          });
          $('#editFavoriteButton').on('click', function () {
            var favoriteId = $(this).data('favorite-id');
            const favoriteName = document.getElementById('editFavoriteName').value;
            fetch(`edit-favorite/${favoriteId}`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({name: favoriteName})
            }).then(response => {
              if (response.ok) {
                window.location.reload();
              } else {
                alert('修改失败');
              }
            });
          });

          $('#confirmRemoveFromFavoriteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var favoriteId = button.data('favorite-id');
            var articleId = button.data('article-id');
            var modal = $(this);
            modal.find('.favorite-article-content').text("确定要将文章《" + button.data('article-title') + "》从收藏夹\"" + button.data('favorite-name') + "\" 移除吗？");
            var confirmRemoveFromFavoriteButton = $(this).find('#confirmRemoveFromFavoriteButton');
            confirmRemoveFromFavoriteButton.data('favorite-id', favoriteId);
            confirmRemoveFromFavoriteButton.data('article-id', articleId);
          });
          $('#confirmRemoveFromFavoriteButton').on('click', function () {
            var favoriteId = $(this).data('favorite-id');
            var articleId = $(this).data('article-id');
            fetch(`delete-article-from-favorite/${favoriteId}/${articleId}`, {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json'
              },
            }).then(response => {
              if (response.ok) {
                window.location.reload();
              } else {
                alert('删除失败');
              }
            });
          });
        })
        .catch(error => console.error('Error loading content:', error));
  }

  // 默认加载文章管理内容
  document.addEventListener('DOMContentLoaded', function () {
    loadContent('manage-articles');
  });
</script>
<script>
  function loadAllArticles() {
    const url = "background/manage-articles?title=&category=";
    fetch(url, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',  // 设置请求头，表明发送的数据类型
      }
    })
        .then(response => response.text())
        .then(data => {
          document.getElementById('content-container').innerHTML = data;  // 更新内容区域
        })
        .catch(error => {
          console.error('Error during fetch:', error);
        });
  }

  function searchArticles(username) {
    const title = document.querySelector('input[name="title"]').value;
    const category = document.querySelector('select[name="category"]').value;
    const formData = new URLSearchParams({title: title, category: category});
    const url = "background/manage-articles?" + formData.toString();
    fetch(url, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',  // 设置请求头，表明发送的数据类型
      }
    })
        .then(response => response.text())
        .then(data => {
          document.getElementById('content-container').innerHTML = data;  // 更新内容区域
        })
        .catch(error => {
          console.error('Error during fetch:', error);
        });
  }
</script>
<script>
  function validateForm() {
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirmPassword').value;
    if (password !== confirmPassword) {
      showError('两次输入的密码不一致，请重新输入');
      return false; // 阻止表单提交
    }
    return true; // 允许表单提交
  }

  function showError(message) {
    const errorAlert = document.getElementById('errorAlert');
    const errorMessage = document.getElementById('errorMessage');
    errorMessage.textContent = message;
    errorAlert.style.display = 'block';
    setTimeout(function () {
      errorAlert.style.display = 'none';
    }, 3000);
  }
</script>
</body>
</html>
