<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>文章检索</title>
  <link rel="stylesheet" th:href="@{/Css/bootstrap.min.css}" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/Css/showArticleList.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/Css/back-to-top.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/Css/navbar.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/Css/globalBody.css}" type="text/css">
</head>
<style>
  #searchForm {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
  }

  #searchForm .form-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
  }

  #searchForm .form-group label {
    margin-bottom: 0;
  }

  #searchForm .form-control {
    min-width: 150px;
  }

  #searchForm .btn {
    margin-top: 0;
  }

  .article-content {
    margin-top: 20px;
  }

</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" th:href="@{/{username}/home(username=${user.username})}">
    <i class="bi bi-house-door-fill"></i> 首页
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/{username}/statistics(username=${user.username})}">文章统计</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/{username}/categories(username=${user.username})}">文章分类</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/{username}/background(username=${user.username})}">后台管理</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4" style="margin-top: 70px;">
  <h2>文章检索</h2>
  <form id="searchForm" th:action="@{/{username}/search-article-list(username=${user.getUsername()})}" method="get">
    <div class="form-group">
      <label for="keywordInTitle">关键字</label>
      <input th:value="${keywordInTitle}" type="text" class="form-control" id="keywordInTitle" name="keywordInTitle">
    </div>
    <div class="form-group">
      <label for="keywordInContent">全文检索</label>
      <input th:value="${keywordInContent}" type="text" class="form-control" id="keywordInContent" name="keywordInContent">
    </div>
    <div class="form-group">
      <label for="beginDateDummy">开始时间</label>
      <input th:value="${beginDateDummy}" type="datetime-local" class="form-control" id="beginDateDummy"
             name="beginDateDummy">
    </div>
    <div class="form-group">
      <label for="endDateDummy">结束时间</label>
      <input th:value="${endDateDummy}" type="datetime-local" class="form-control" id="endDateDummy"
             name="endDateDummy">
    </div>
    <label for="beginDate"></label>
    <input type="hidden" class="form-control" id="beginDate" name="beginDate">
    <label for="endDate"></label>
    <input type="hidden" class="form-control" id="endDate" name="endDate">
    <input type="hidden" class="form-control" id="pageNo" name="pageNo" value="0">
    <button type="submit" class="btn btn-primary">搜索</button>
  </form>
  <div class="article-content" th:if="${articles != null}">
    <div th:each="article : ${articles}">
      <div class="post-preview">
        <a th:href="@{./article/{id}(id=${article.id})}" style="text-decoration: none;">
          <h2 class="post-title" th:text="${article.title}"></h2>
        </a>
        <div class="post-created-time" th:id="${'created-at-' + article.id}"
             th:text="${#temporals.format(article.getCreateTime(), 'yyyy-MM-dd HH:mm')}"></div>
        <p class="post-excerpt" th:text="${#strings.abbreviate(article.content, 150)}"></p>
        <div style="display: grid; grid-template-areas: 'read-more like-and-comment'; grid-template-columns: 2fr 1fr; height: 24px;">
          <a style="grid-area: read-more; text-align: left; " th:href="@{./article/{id}(id=${article.id})}"
             class="link-post-preview">阅读更多</a>
          <div style="grid-area: like-and-comment; text-align: right; justify-self: end;"
               class="post-meta-container d-flex">
            <p class="post-meta like-meta">点赞(<span th:text="${article.getLikes()}"></span>)</p>
            <p class="post-meta comment-meta">评论(<span th:text="${article.getComments()}"></span>)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- 分页栏 -->
<nav th:if="${totalPages != null and totalPages != 0 }" aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <!-- 上一页按钮 -->
    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
      <a class="page-link" href="#" aria-label="Previous" th:attr="onclick='loadArticleList('+ ${currentPage - 1} +')'">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <!-- 分页按钮 -->
    <li class="page-item" th:each="pageNo : ${#numbers.sequence(0, totalPages - 1)}">
      <a class="page-link" href="#" th:text="${pageNo + 1}" th:attr="onclick='loadArticleList('+${pageNo}+')'"></a>
    </li>
    <!-- 下一页按钮 -->
    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
      <a class="page-link" href="#" aria-label="Next" th:attr="onclick='loadArticleList('+${currentPage + 1}+')'">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
<script>
  function validateDate(dateInput, dateInputDummy) {
    try {
      dateInput.value = new Date(dateInputDummy.value).toISOString();
    } catch (e) {
      dateInput.value = null;
    }
  }

  const searchForm = document.getElementById('searchForm');
  let beginDateInputDummy = document.getElementById('beginDateDummy');
  let endDateInputDummy = document.getElementById('endDateDummy');
  let beginDateInput = document.getElementById('beginDate');
  let endDateInput = document.getElementById('endDate');
  searchForm.addEventListener('submit', event => {
    validateDate(beginDateInput, beginDateInputDummy);
    validateDate(endDateInput, endDateInputDummy);
    searchForm.dispatchEvent(new Event('change'));  // 确保修改被浏览器感知
    searchForm.submit();
  });

  function loadArticleList(page) {
    searchForm.querySelector('#pageNo').value = page;
    validateDate(beginDateInput, beginDateInputDummy);
    validateDate(endDateInput, endDateInputDummy);
    searchForm.dispatchEvent(new Event('change'));  // 确保修改被浏览器感知
    searchForm.submit();
  }
</script>
</body>
</html>
