<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>文章检索</title>
  <link rel="stylesheet" th:href="@{/Css/bootstrap.min.css}" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/Css/showArticleList.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/Css/back-to-top.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/Css/navbar.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/Css/globalBody.css}" type="text/css">
</head>
<style>
  .container {
    width: 100vw;
    padding-left: 200px;
    padding-right: 200px;
    max-width: unset;
  }

  h1 {
    margin-bottom: 30px;
    color: #343a40;
    text-align: center;
    font-weight: bold;
  }

  #searchForm {
    width: 100%;
  }

  .visible-elem-container {
    display: grid;
    grid-template-areas: "title content beginDate endDate submitButton";
    grid-template-columns: 5fr 5fr 5fr 5fr 1fr;
    justify-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 30px;
    gap: 15px;
  }

  .visible-input-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "label input";
    grid-template-columns: 4.5rem 1fr;
    justify-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .visible-input-container input {
    display: block;
    width: 100%;
    height: 100%;
    grid-area: input;
  }

  .visible-input-container form-control {
    min-width: unset;
    min-height: unset;
  }

  .visible-input-container label {
    grid-area: label;
    margin: 0 0 0 0;
    justify-self: left;
  }

  #searchForm button {
    width: 100%;
    height: 100%;
  }

  #searchForm .btn {
    margin-top: 0;
  }

  .article-content {
    margin-top: 20px;
  }

</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" th:href="@{/{username}/home(username=${user.username})}">
    <i class="bi bi-house-door-fill"></i> 首页
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/{username}/search-articles(username=${user.username})}">
          <i class="bi bi-search"></i> 文章搜索</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/{username}/statistics(username=${user.username})}">
          <i class="bi bi-bar-chart-line"></i> 文章统计</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/{username}/categories(username=${user.username})}">
          <i class="bi bi-list-task"></i> 文章分类</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/{username}/background(username=${user.username})}">
          <i class="bi bi-gear"></i> 后台管理</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top: 100px;">
  <h1 style="text-align: center;">文章检索</h1>
  <form id="searchForm" th:action="@{/{username}/search-articles(username=${user.getUsername()})}" method="get">
    <div class="visible-elem-container">
      <div class="visible-input-container" style="grid-area: title;">
        <label for="keywordInTitle">关键字</label>
        <input th:value="${keywordInTitle}" type="text" class="form-control" placeholder="关键字" id="keywordInTitle"
               name="keywordInTitle">
      </div>
      <div class="visible-input-container" style="grid-area: content;">
        <label for="keywordInContent">全文检索</label>
        <input th:value="${keywordInContent}" type="text" class="form-control" placeholder="全文检索"
               id="keywordInContent" name="keywordInContent">
      </div>
      <div class="visible-input-container" style="grid-area: beginDate;">
        <label for="beginDateDummy">起始时间</label>
        <input th:value="${beginDateDummy}" type="datetime-local" class="form-control" id="beginDateDummy"
               placeholder="起始时间" name="beginDateDummy">
      </div>
      <div class="visible-input-container" style="grid-area: endDate;">
        <label for="endDateDummy">终止时间</label>
        <input th:value="${endDateDummy}" type="datetime-local" class="form-control" id="endDateDummy"
               placeholder="终止时间" name="endDateDummy">
      </div>
      <button type="submit" class="btn btn-outline-primary my-2 my-sm-0" style="grid-area: submitButton;"><i
              class="bi bi-search"></i></button>
    </div>
    <label for="beginDate"></label>
    <input type="hidden" class="form-control" id="beginDate" name="beginDate">
    <label for="endDate"></label>
    <input type="hidden" class="form-control" id="endDate" name="endDate">
    <input type="hidden" class="form-control" id="pageNo" name="pageNo" value="0">
  </form>
  <div class="article-content" th:if="${articles != null}">
    <div th:each="article : ${articles}">
      <div class="post-preview">
        <a th:href="@{./article/{id}(id=${article.id})}" style="text-decoration: none;">
          <h2 class="post-title" th:text="${article.title}"></h2>
        </a>
        <div style="display: grid; grid-template-areas: 'author created-at'; grid-template-columns: 1fr 1fr;">
          <div class="post-user-name" style="grid-area: author; text-align: left;">
            <i class="bi bi-person"></i>
            <span th:text="${article.user.name}"></span>
          </div>
          <div class="post-created-time" style="grid-area: created-at; text-align: right;">
            <i class="bi bi-clock"></i>
            <span th:id="${'created-at-' + article.id}"
                  th:text="${#temporals.format(article.getCreateTime(), 'yyyy-MM-dd HH:mm')}"></span>
          </div>
        </div>
        <p class="post-excerpt" th:text="${#strings.abbreviate(article.content, 150)}"></p>
        <div style="display: grid; grid-template-areas: 'read-more like-and-comment'; grid-template-columns: 2fr 1fr; height: 24px;">
          <a style="grid-area: read-more; text-align: left; " th:href="@{./article/{id}(id=${article.id})}"
             class="link-post-preview">阅读更多</a>
          <div style="grid-area: like-and-comment; text-align: right; justify-self: end;"
               class="post-meta-container d-flex">
            <p class="post-meta like-meta"><i class="bi bi-hand-thumbs-up"></i> 点赞(<span th:text="${article.getLikes()}"></span>)</p>
            <p class="post-meta comment-meta"><i class="bi bi-chat-text"></i> 评论(<span th:text="${article.getComments()}"></span>)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- 分页栏 -->
<nav th:if="${totalPages != null and totalPages != 0 }" aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <!-- 上一页按钮 -->
    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
      <a class="page-link" href="#" aria-label="Previous" th:attr="onclick='loadArticleList('+ ${currentPage - 1} +')'">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <!-- 分页按钮 -->
    <li class="page-item" th:each="pageNo : ${#numbers.sequence(0, totalPages - 1)}">
      <a class="page-link" href="#" th:text="${pageNo + 1}" th:attr="onclick='loadArticleList('+${pageNo}+')'"></a>
    </li>
    <!-- 下一页按钮 -->
    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
      <a class="page-link" href="#" aria-label="Next" th:attr="onclick='loadArticleList('+${currentPage + 1}+')'">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
<script>
  function validateDate(dateInput, dateInputDummy) {
    try {
      dateInput.value = new Date(dateInputDummy.value).toISOString();
    } catch (e) {
      dateInput.value = null;
    }
  }

  const searchForm = document.getElementById('searchForm');
  let beginDateInputDummy = document.getElementById('beginDateDummy');
  let endDateInputDummy = document.getElementById('endDateDummy');
  let beginDateInput = document.getElementById('beginDate');
  let endDateInput = document.getElementById('endDate');
  searchForm.addEventListener('submit', event => {
    validateDate(beginDateInput, beginDateInputDummy);
    validateDate(endDateInput, endDateInputDummy);
    searchForm.dispatchEvent(new Event('change'));  // 确保修改被浏览器感知
    searchForm.submit();
  });

  function loadArticleList(page) {
    searchForm.querySelector('#pageNo').value = page;
    validateDate(beginDateInput, beginDateInputDummy);
    validateDate(endDateInput, endDateInputDummy);
    searchForm.dispatchEvent(new Event('change'));  // 确保修改被浏览器感知
    searchForm.submit();
  }
</script>
</body>
</html>
